<section class="inspections">
    <div class="overlay">
        <h3 id="inspections">Inspections</h3>
        <div class="body">
            <p>Final Inspection personnel have a plethora of knowledge and experience ensuring code compliance and would like to collaborate with your organizations to further familiarize yourself with House Bill 3866.  The Life Code Inspections, Texas Government Code Section 419.908, passed by Texas Legislature in 2009 state the following:</p>

    <p>Only an individual certified by the Texas Commission on Fire Protection as a Fire Inspector may conduct a fire safety inspection required by state or local law, rule, regulation or ordinance.  In addition, it must be conducted in accordance with:
    1. The most recent local fire code; or
    2. The most recent local fire code adopted by the State Fire Marshal.</p>


    <p>This recently new statue went into effect on September 1, 2011 and further requires all Fire Safety Plan Reviews to be performed by a certified Fire Inspector.  New policy and procedures are presently affecting many business organizations in towns and counties including nursing homes, hospitals, day care centers, foster homes, schools, detention centers, prisons, jails, new homes and other buildings that require a Fire Inspection and Certificates of Occupancy.</p>


    <p>To personally request a conference to minimize the complexity of the implied new statute and to explore ways to guarantee Code Compliance maintaining the general safety and well being of all your assets, personnel and customers:
    ~ Contact Us ~


     We look forward to working together in a mutual partnership.</p>
        </div>
    </div>
</section>