<section class="our-team">
    <div class="overlay">
        <h3 id="our-team">Our Team</h3>
        <p><strong>Final Inspection Fire & Safety, LLC, located in Odessa, Texas 
            would like to take this time to graciously introduce ourselves:</strong></p>
        <p>"Our senior staff has a combined 30 years experience in the field of Fire and Life Safety Inspections and Training."</p>
        <p>The Final Inspection team are Texas Certified Peace Officers and Texas Commission on Fire Protection certified Fire Inspectors.</p> 
        <p>Final Inspection team provides an assortment of fire inspection related services for homes, businesses, safety trainings for small or large businesses, code consultation for new construction and developments, including outsourcing projects and meeting the needs of growing municipalities and institutions in your community.</p>
        <p>"We look forward to working with you to help assist in meeting your specific needs to ensure fire safety in all environments."</p>
    </div>
</section>