<section class="plan-review">
    <h3 id="plan-review">Plan Review</h3>
    <img src="../assets/img/stamp-of-approval.jpg"/>
    <div id="plan-review-body">
        <p>Municipalities can contract with us or direct all fees and plan submissions directly to us.</p> 
        <p>Plan review includes stamp plans with comments and an open line of communication.</p>
        <p>Municipalities will receive code compliant plans pertaining to fire protection such as Automatic Sprinkler Systems, Fire Alarm Systems, and Passive Fire Protection for any project without any overhead. </p>
        <p>Contact us so we can discuss an arrangement that will work best for your organization.</p>
        <p>*Contact us to establish a safe work environment or to ensure compliance with regulatory agencies, local codes, and insurance requirements*</p>
        <p>Plan reviews are available for the following disciplines:</p>
        <p>• Automatic Sprinkler Systems
        <br>• Standpipes
        <br>• Fire Alarm Systems
        <br>• Hazardous Material Storage
        <br>• High Piled Storage
        <br>• Kitchen Suppression System
        <br>• Clean Agent System
        <br>• Fire Apparatus Access Roads
        <br>• Residential
        <br>• Passive Fire Protection
        <br>• Paint Spray Booth
        <br>• Commercial Building Plan Reviews for Exit Egress</p>
    </div>
</section>