<section class="training">
    <h3 id="training">Training</h3>
    <p>Fire and Safety is necessary for businesses and companies of every size.  The Occupational Health and
Safety Administration require all businesses to provide a safe and healthy workplace, and recommends training for all employees.  Training not only impacts knowledge and awareness of hazards; it empowers workers to participate in creating and  maintaining a safer work environment.  We at Final Inspection Fire & Safety, LLC can provide a catered fire safety program that will meet your needs in creating a safe secure working environment.</p>
</section>