<!-- Section: about -->
    <section id="about" class="home-section text-center">
        <div class="overlay">
            <div class="heading-about">
                <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                        <h2>About us</h2>
                        <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-5">
                        <hr class="marginbot-50">
                    </div>
                </div>
                <div class="row" id="bottom-row">
                    <div class="col-sm-4 col-md-4">
                        <div class="wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="img/icons/MyIcons/png/calendar70.png" alt="" />
                            </div>
                            <div class="service-desc">
                                <h5>Experience</h5>
                                <p>Our senior staff has a combined 30 years experience in the field of Fire and Life Safety Inspections and Training.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="img/icons/MyIcons/png/graduate38.png" alt="" />
                            </div>
                            <div class="service-desc">
                                <h5>Certified</h5>
                                <p>The Final Inspection team are Texas Certified Peace Officers and Texas Commission on Fire Protection certified Fire Inspectors.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <a href="#services" id="about-service">
                    <div class="col-sm-4 col-md-4">
                        <div class="wow fadeInRight" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="img/icons/MyIcons/png/axe9.png" alt="" />
                            </div>
                            <div class="service-desc">
                                <h5>Services</h5>
                                <p>We provides an assortment of fire inspection related services for homes and businesses, safety trainings for small or large businesses, code consultation for new construction and developments; as well as meeting the needs of growing municipalities and institutions in your community.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                        </a>
                </div>
            </div>
        </div>
	</section>
<!-- /Section: about -->