<section id="inspections" class="home-section text-center">
    <div class="overlay">
    <div class="heading-about">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="section-heading">
                <h2>Inspections</h2>
                <i class="fa fa-2x fa-angle-down"></i>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="b-left">
                <p>Final Inspection personnel have a plethora of knowledge and experience ensuring code compliance, and would like to collaborate with your organizations to further familiarize yourself with House Bill 3866.  The Life Code Inspections, Texas Government Code Section 419.908, passed by Texas Legislature in 2009, states the following:</p>

                <blockquote><p>Only an individual certified by the Texas Commission on Fire Protection as a Fire Inspector may conduct a fire safety inspection required by state or local law, rule, regulation or ordinance.  In addition, it must be conducted in accordance with:</p>
                <li>1. The most recent local fire code.</li>
                <li>2. The most recent local fire code adopted by the State Fire Marshal.</li></blockquote>
            </div>
            <div class="col-md-6" id="b-right">
                <p>This recent new statute went into effect on September 1, 2011 and further requires all Fire Safety Plan Reviews to be performed by a certified Fire Inspector.  New policy and procedures are presently affecting many business organizations in towns and counties including nursing homes, hospitals, day care centers, schools, prisons, etc. that require a Fire Inspection and Certificates of Occupancy.</p>

                <p>Please <a href="#contact">contact us</a> to personally request a conference to minimize the complexity of the implied new statute and to explore ways to guarantee Code Compliance, thus maintaining the general safety and well being of all your assets, personnel and customers.
            </div>
        </div>
    </div>
    </div>
</section>