<section id="plan-review" class="home-section text-center">
    <div class="overlay">
    <div class="heading-about">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="section-heading">
                <h2>Plan Review</h2>
                <i class="fa fa-2x fa-angle-down"></i>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
                <div class="col-md-6" id="b-left">
                    <p>Municipalities can contract with us or direct all fees and plan submissions directly to us.</p> 
                    <p>Plan review includes stamp plans with comments and an open line of communication.</p>
                    <p>Municipalities will receive code compliant plans pertaining to fire protection such as Automatic Sprinkler Systems, Fire Alarm Systems, and Passive Fire Protection for any project without any overhead. </p>
                </div>
                <div class="col-md-6" id="b-right">
                    <div class="row" id="col-left">
                        <p>Plan reviews are available for the following disciplines:</p>
                        <div class="col-xs-6 col-sm-6" id="li-left">
                            <li>Automatic Sprinkler Systems</li>
                            <li>Standpipes</li>
                            <li>Fire Alarm Systems</li>
                            <li>Hazardous Material Storage</li>
                            <li>High Piled Storage</li>
                            <li>Kitchen Suppression System</li>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <li>Clean Agent System</li>
                            <li>Fire Apparatus Access Roads</li>
                            <li>Residential</li>
                            <li>Passive Fire Protection</li>
                            <li>Paint Spray Booth</li>
                            <li>Commercial Building Plan Reviews for Exit Egress</li>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row" id="bottom">
            <div class="col-md-12">
                <p><a href="#about">*Contact us to establish a safe work environment or to ensure compliance with regulatory agencies, local codes, and insurance requirements*</a></p>
            </div>
        </div>
    </div>
    </div>
</section>