<!-- Section: services -->
<setion id="services" class="home-section text-center bg-gray">
    <div class="overlay">
    <div class="heading-about">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="section-heading">
                <h2>Services</h2>
                <i class="fa fa-2x fa-angle-down"></i>

                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <hr class="marginbot-50">
        </div>
    </div>
    <div class="row">
        <a href="#inspections">
        <div class="col-sm-4 col-md-4">
            <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
                <div class="service-icon">
                    <img src="img/icons/MyIcons/png/magnifier13.png" alt="" />
                </div>
                <div class="service-desc">
                    <h5>Inspections</h5></a>
                    <p><a href="#contact" id="s-contact">Set up a conference</a> <a href="#inspections">to guarantee Code Compliance, maintaining the general safety and well being of all your assets, personnel and customers</p></a>
                </div>
            </div>
            </div>
        </div>
        <a href="#plan-review">
        <div class="col-sm-4 col-md-4">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
                <div class="service-icon">
                    <img src="img/icons/MyIcons/png/text70.png" alt="" />
                </div>
                <div class="service-desc">
                    <h5>Plan Review</h5>
                    <p>We can help you establish a safe work environment or to ensure compliance with regulatory agencies, local codes, and insurance requirements.</p>
                </div>
            </div>
            </div>
        </div>
        </a>
        <a href="#training">
        <div class="col-sm-4 col-md-4">
            <div class="wow fadeInRight" data-wow-delay="0.2s">
            <div class="service-box">
                <div class="service-icon">
                    <img src="img/icons/MyIcons/png/fight1.png" alt="" />
                </div>
                <div class="service-desc">
                    <h5>Training</h5>
                    <p>We can provide a catered fire safety program that will meet your needs in creating a safe secure working environment.</p>
                </div>
            </div>
            </div>
        </div>
        </a>
    </div>		
    </div>
    </div>
</section>
<!-- /Section: services -->