<section id="training" class="home-section text-center">
    <div class="overlay">
    <div class="heading-about">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="section-heading">
                <h2>Training</h2>
                <i class="fa fa-2x fa-angle-down"></i>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <p>Fire and Safety is necessary for businesses and companies of every size.  The Occupational Safety and
    Health Administration require all businesses to provide a safe and healthy workplace, and recommends training for all employees.  Training not only impacts knowledge and awareness of hazards; it empowers workers to participate in creating and  maintaining a safer work environment.  We at Final Inspection Fire & Safety, LLC can provide a catered fire safety program that will meet your needs in creating a safe secure working environment.</p>
    </div>
    </div>
</section>