/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/fire-icon.gif) center no-repeat #fff;}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }


h3, header nav a, header .kicker, footer .lockup .content-wrap a {
  @extend %small-bold; }

h3 {
    @extend %small-bold;
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 40px;}

footer {
  background-repeat: no-repeat, no-repeat;
  background-size: 50px 50px, cover;
  background-blend-mode: overlay, normal; }

header {
    background-image: url(../img/fire-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-bottom: 20px}
    header nav {
        top: 0;
        padding: 10px; 
        background: transparent none repeat scroll 0% 0%;
        background: rgba(34, 35, 38, 0.7) none repeat scroll 0% 0%;
        width: 99%;
        height: 2em;
        position: fixed;
        text-align: right;}
        header nav a {
            display: inline-block;
            text-decoration: none;
            font-weight: 600;
            padding: 5px 10px 0px 0px;
            color: #FFF;}
            header nav a:hover {
                color: #000; }
    header #last{
        padding-right: 30px;}


    header h1 {
        text-align: center;
        font-size: 72px;
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin-bottom: 3vh;
        clear: both;
        padding-top: 30vh; }
        header h1 span {
          display: inline-block;
          padding: 0.2em 0.5em;
          border: black solid 10px; }
    header .kicker {
        text-align: center;
        letter-spacing: 0.05em;
        color: black;
        line-height: 1;
        font-weight: 600;}


footer{
    background-size: cover;
    border-top: black solid 1px;}
    footer nav {
        padding: 20px 30px 0 0; }
        footer nav a {
            text-decoration: none;
            padding-bottom: 2px;
            display: inline-block;
            margin-left: 20px;
            color: rgba(0, 0, 0, 0.7); }
            footer nav a:hover {
                color: black; }
    footer .copyright{
        margin-left: 20px;
        text-transform: uppercase;
        font-size:12px;
        color: rgba(0,0,0,0.4);}


.our-team{
    background-image: url(../img/team.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: hidden;
    color: #FFF;
    padding-top: 1px;
    padding-bottom: 20px;
    width: 100%;
    height: 105vh;}
    .our-team p{
        line-height: 120%;
        text-align: center;
        padding-top: 15px;
        margin-left: 40vh;
        margin-right: 40vh;}

.plan-review{
    background-image: url(../img/plan-review.jpg);
    background-size: cover;
    color: #FFF;
    padding-top: 1px;
    padding-bottom: 20px;
    width: 100%;
    height: 105vh;}
    .plan-review .col{
        margin:0 10px;
        float:left;
        display:inline;}
    .plan-review .body-left{
        line-height: 125%;
        width: 45%;
        padding-left: 70px;
        text-align: left;}
    .plan-review .body-right{
        line-height: 150%;
        width:45%;
        text-align: center;}


.training{
    background-image: url(../img/fire-extiguisher.jpg);
    background-size: cover;
    color: #FFF;
    padding-top: 1px;
    padding-bottom: 20px;
    width: 100%;
    height: 105vh;}
    .training p{
        line-height: 175%;
        text-align: center;
        padding-top: 15px;
        margin-left: 25vh;
        margin-right: 25vh;}

.inspections{
    background-image: url(../img/fire-alarm.jpg);
    background-size: cover;
    color: #FFF;
    padding-top: 1px;
    padding-bottom: 20px;
    width: 100%;
    height: 103vh;}
    .inspections .col{
        margin:0 10px;
        float:left;
        display:inline;}
    .inspections .body-left{
        line-height: 150%;
        width: 45%;
        padding-left: 70px;
        text-align: left;}
    .inspections .body-right{
        line-height: 150%;
        width:45%;
        text-align: center;}
    .inspections li{
        margin-left: 35px;
        list-style-type: none;}

.overlay{
    padding: inherit;
    height: inherit;
    width: inherit;
    background: rgba(0, 0, 0, 0.40);
    background-size: cover;}

.contact-us{
    color: #000;
    background-size: cover;
    padding-top: 1px;
    padding-bottom: 20px;
    width: 100%;
    height: 105vh;
    text-align: center;}

@media screen and (max-width: 480px) {
  h3 {
    padding: 50px 0 50px; } }


@media (max-width: 640px) {
}


@media screen and (max-width: 650px) {
 }


@media screen and (max-width: 760px) {
}


@media (max-width: 740px) {
}


@media (max-width: 750px) {
 }

/*
@media (max-width: 541px) {
  form .contact-info-group label {
    width: 100%; }
    form .contact-info-group label:nth-child(1) {
      padding: 0; }
    form .contact-info-group label:nth-child(2) {
      padding: 0; }
  form [type="submit"] {
    width: 100%; } }
.form-success {
  background: #e5eaee;
  text-align: center; }
  .form-success p {
    font-size: 18px; }*/

